/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2563eb; /
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    font-family: 'Times New Roman', Times,;
    font-size: 2rem;
    margin: 0;
}
header h1 span {
    display: inline-block;
    transition: transform 0.3s ease;
    
}

header h1 span:hover {
    transform: translateY(-10px);
    color: goldenrod;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 4rem 1rem;
}

h2 {
    font-size: 2.5rem;
    color: #2563eb; /* Blue color */
    margin-bottom: 1.5rem;
}

p {
    font-size: 1.125rem;
    line-height: 1.6;
}

footer {
    background-color: #2563eb; /* Blue color */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
